<div class="header-info">
    <ul class="contact">
        <li><i class="fa fa-phone"></i> +56 9 9999 9999</li>
        <li><i class="fa fa-envelope-o"></i> contacto@chirimoyaestudio.cl</li>
    </ul>

    <ul class="rrss pull-right">
        <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
        <li><a href="http://www.facebook.com/disenochirimoya"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-search fa-lg"></i></a></li>
    </ul>
</div>