<nav>
    <ul>
        <li><a href="/" data-toggle="tooltip" data-placement="right" title="Inicio" id="tt-inicio"></a></li>
        <li><a href="/nosotros" data-toggle="tooltip" data-placement="right" title="Nosotros" id="tt-nosotros"></a></li>
        <li><a href="/servicios" data-toggle="tooltip" data-placement="right" title="Servicios" id="tt-servicios"></a></li>
        <li><a href="/portafolio" data-toggle="tooltip" data-placement="right" title="Portafolio" id="tt-portafolio"></a></li>
        <li><a href="/contacto" data-toggle="tooltip" data-placement="right" title="Contacto" id="tt-contacto"></a></li>
    </ul>
</nav>