<nav>
    <ul>
        <li><a href="/" data-toggle="tooltip" data-placement="right" title="Inicio"></a></li>
        <li><a href="/nosotros" data-toggle="tooltip" data-placement="right" title="Nosotros"></a></li>
        <li><a href="/servicios" data-toggle="tooltip" data-placement="right" title="Servicios"></a></li>
        <li><a href="/portafolio" data-toggle="tooltip" data-placement="right" title="Portafolio"></a></li>
        <li><a href="/contacto" data-toggle="tooltip" data-placement="right" title="Contacto"></a></li>
    </ul>
</nav>