<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Chirimoya Estudio - Dale vida a tus proyectos</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="green-block block-top"></div>
    <!--MAIN CONTENT-->
    <%- defineContent('inicio') %>

    <footer>
        Chirimoya Estudio &copy; 2017
    </footer>
</div>
</body>
</html>