html,
body,
section {
	margin-top: -20px;
	padding-top: 20px;
	min-height: 100vh;
	overflow-x: hidden;
}

.js .container {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.js .pages {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

.page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

.js .page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index: 1;
}

.js .page--current {
	visibility: visible;
	position: relative;
}

/* Revealers */

.revealer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1000;
	pointer-events: none;
}

.revealer--cornertopleft,
.revealer--cornertopright,
.revealer--cornerbottomleft,
.revealer--cornerbottomright {
	top: 50%;
	left: 50%;
}

.revealer--top,
.revealer--bottom {
	left: 0;
}

.revealer--right,
.revealer--left {
	top: 50%;
	left: 50%;
}

.revealer--top {
	bottom: 100%;
}

.revealer--bottom {
	top: 100%;
}

.revealer__layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ddd;
}

/* Revealer effects */

/* Three layer effect (effect-3) */

.anim--effect-3 .revealer--animate .revealer__layer {
	-webkit-animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
	animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(2) {
	-webkit-animation-name: anim-effect-3-2;
	animation-name: anim-effect-3-2;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(3) {
	-webkit-animation-name: anim-effect-3-3;
	animation-name: anim-effect-3-3;
}

@-webkit-keyframes anim-effect-3-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	25%,
	75% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	25%,
	75% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-3-2 {
	0%,
	12.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-2 {
	0%,
	12.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-3-3 {
	0%,
	25% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-3 {
	0%,
	25% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}


/* Forth effect */

.anim--effect-4 .page--animate-top .quote {
	-webkit-animation: moveQuoteTop 1.5s forwards;
	animation: moveQuoteTop 1.5s forwards;
}

@-webkit-keyframes moveQuoteTop {
	0%,
	65% {
		-webkit-transform: translate3d(0, -75px, 0);
		transform: translate3d(0, -75px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteTop {
	0%,
	65% {
		-webkit-transform: translate3d(0, -75px, 0);
		transform: translate3d(0, -75px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-bottom .quote {
	-webkit-animation: moveQuoteBottom 1.5s forwards;
	animation: moveQuoteBottom 1.5s forwards;
}

@-webkit-keyframes moveQuoteBottom {
	0%,
	65% {
		-webkit-transform: translate3d(0, 75px, 0);
		transform: translate3d(0, 75px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteBottom {
	0%,
	65% {
		-webkit-transform: translate3d(0, 75px, 0);
		transform: translate3d(0, 75px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-left .quote {
	-webkit-animation: moveQuoteLeft 1.5s forwards;
	animation: moveQuoteLeft 1.5s forwards;
}

@-webkit-keyframes moveQuoteLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-75px, 0, 0);
		transform: translate3d(-75px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-75px, 0, 0);
		transform: translate3d(-75px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-right .quote {
	-webkit-animation: moveQuoteRight 1.5s forwards;
	animation: moveQuoteRight 1.5s forwards;
}

@-webkit-keyframes moveQuoteRight {
	0%,
	65% {
		-webkit-transform: translate3d(75px, 0, 0);
		transform: translate3d(75px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteRight {
	0%,
	65% {
		-webkit-transform: translate3d(75px, 0, 0);
		transform: translate3d(75px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-cornertopright .quote {
	-webkit-animation: moveQuoteCornerTopRight 1.5s forwards;
	animation: moveQuoteCornerTopRight 1.5s forwards;
}

@-webkit-keyframes moveQuoteCornerTopRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, -50px, 0);
		transform: translate3d(50px, -50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteCornerTopRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, -50px, 0);
		transform: translate3d(50px, -50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-cornertopleft .quote {
	-webkit-animation: moveQuoteCornerTopLeft 1.5s forwards;
	animation: moveQuoteCornerTopLeft 1.5s forwards;
}

@-webkit-keyframes moveQuoteCornerTopLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-50px, -50px, 0);
		transform: translate3d(-50px, -50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteCornerTopLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-50px, -50px, 0);
		transform: translate3d(-50px, -50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-cornerbottomright .quote {
	-webkit-animation: moveQuoteCornerBottomRight 1.5s forwards;
	animation: moveQuoteCornerBottomRight 1.5s forwards;
}

@-webkit-keyframes moveQuoteCornerBottomRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, 50px, 0);
		transform: translate3d(50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteCornerBottomRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, 50px, 0);
		transform: translate3d(50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-cornerbottomleft .quote {
	-webkit-animation: moveQuoteCornerBottomLeft 1.5s forwards;
	animation: moveQuoteCornerBottomLeft 1.5s forwards;
}

@-webkit-keyframes moveQuoteCornerBottomLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-50px, 50px, 0);
		transform: translate3d(-50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteCornerBottomLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-50px, 50px, 0);
		transform: translate3d(-50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .revealer--animate .revealer__layer {
	-webkit-animation: anim-effect-4-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
	animation: anim-effect-4-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.anim--effect-4 .revealer--animate .revealer__layer:nth-child(2) {
	-webkit-animation-name: anim-effect-4-2;
	animation-name: anim-effect-4-2;
	-webkit-animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
	animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

.anim--effect-4 .revealer--animate .revealer__layer:nth-child(3) {
	-webkit-animation-name: anim-effect-4-3;
	animation-name: anim-effect-4-3;
	-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
}

@-webkit-keyframes anim-effect-4-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%,
	65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-4-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%,
	65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-4-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
		animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-4-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
		animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-4-3 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
		animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-4-3 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
		animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}


/* Media queries */

@media screen and (max-width: 50em) {
	.quote {
		font-size: 5vw;
		text-align: center;
		padding: 0.5em;
	}
}


/*-------Dot Style--------*/

/* Common styles and resets */

.dotstyle {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

/* Individual styles and effects */

/* Tooltip */

.dotstyle-tooltip li {
	border: 3px solid #565656;
	border-radius: 50%;
	z-index: 1;
	-webkit-transition: border-color 0.3s ease;
	transition: border-color 0.3s ease;
}

.dotstyle-tooltip li a {
	transform-origin: 0 50% 0;
	top: -50%;
	left: 30px;
	visibility: hidden;
	padding: 0 10px;
	width: auto;
	height: auto;
	border-radius: 0;
	background-color: #93C13E;
	color: #fff;
	text-indent: 0;
	line-height: 2;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-tooltip li a::after { /* http: //cssarrowplease.com/ */
	position: absolute;
	left: 0;
	top: 20%;
	margin-left: -15px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 8px;
	border-color: transparent;
	border-right-color: #93C13E;
	content: '';
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.no-touch .dotstyle-tooltip li:hover a,
.dotstyle-tooltip li.current a {
	z-index: 100;
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.dotstyle-tooltip li.current {
	border-color: #93C13E;
}

.dotstyle-tooltip li:hover {
	z-index: 100;
}

.no-touch .dotstyle-tooltip ul:hover li.current a {
	opacity: 0.2;
}

.dotstyle-tooltip ul li.current:hover a {
	opacity: 1;
}


