* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body, section{
	height: 100%;
	font-family: 'Lato', sans-serif;
	color: #585856;
}

section {
	width: 80%;
	margin: 0 auto;
}

/*--- Header Info ----*/
.header-info {
	background: #93C13E;
	color: #ffffff;
	padding: 10px 8%;
}
.header-info ul {
	display: inline-block;
}

.header-info li {
	display: inline-block;
	margin: 0 10px;
}

/*------ Lateral Navigation --------*/
nav {
	position: fixed;
	left: 20px;
	bottom: 60px;
}

ul {
	list-style: none;
}

nav a {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 3px solid #565656;
	margin: 20px;
	transition: all 1s;
	-webkit-transition: all .5s;
}

nav a:hover {
/*	width: 20px;
	height: 20px;*/
	border-color: #93C13E;
}