<%- contentFor('inicio')%>
<div class="img-container">
	<img src="/img/chirilogo-01.svg">
	<h3>Oops! Nuestro sitio aún no está listo.</h3>
	<p>Pero puedes contactarnos por otros medios</p>
	<hr>
	<div class="row">
		<a class="col-xs-12 col-sm-6 contact" href="mailto:contacto@chirimoyaestudio.cl?Subject=chirimoyaestudio.cl" target="_top">
			<i class="fa fa-envelope fa-2x"></i>
			<br>
			<h4>contacto@chirimoyaestudio.cl</h4>
		</a>
		<a class="col-xs-12 col-sm-6 contact" href="http://www.facebook.com/disenochirimoya" target="_blank">
				<i class="fa fa-facebook-square fa-2x"></i>
				<br>
				<h4>chirimoyadiseno</h4>
		</a>
	</div>
</div>