<section id="inicio" class="page page--current">
    <img src="/img/chirilogo-01.svg" alt="Logo Chirimoya" class="main-logo">
</section>

<script>
    var section = document.querySelector('#inicio');
    window.addEventListener('scroll', function (e) {
        console.log(e);
    });
</script>