<section id="nosotros" class="page">
    <h3>Nosotros</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet consequuntur corporis cupiditate dolor eum eveniet
        ex incidunt minus nihil obcaecati optio perspiciatis quo rerum saepe sequi, tenetur unde voluptatem.</p>
</section>