<section id="proyectos">
    <h3>Proyectos</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi doloremque dolorum ducimus expedita fugit hic
        labore maiores nam nesciunt odio officia placeat, porro quos repudiandae, sit temporibus veritatis voluptate.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut culpa doloremque eius eligendi est fuga,
        in itaque magnam minus natus nisi nobis omnis, praesentium quam quos repudiandae similique vitae!</p>
</section>