<section id="servicios" class="page">
    <h3>Qué ofrecemos</h3>
    <p>Entregar un servicio y soluciones de calidad que destaquen el profesionalismo, pasión y enfoque de cada uno de
        sus integrantes, con el propósito de contribuir al desarrollo de nuestros clientes y al de la sociedad.</p>
    <div class="iconos-servicios">
        <div class="servicio col-xs-12 col-sm-6 col-md-5ths">
            <i class="fa fa-pencil fa-4x"></i>
            <h4>Ilustración</h4>
        </div>
        <div class="servicio col-xs-12 col-sm-6 col-md-5ths">
            <i class="fa fa-mouse-pointer fa-4x"></i>
            <h4>Web</h4>
        </div>
        <div class="servicio col-xs-12 col-sm-6 col-md-5ths">
            <i class="fa fa-film fa-4x"></i>
            <h4>Multimedia</h4>
        </div>
        <div class="servicio col-xs-12 col-sm-6 col-md-5ths">
            <i class="fa fa-book fa-4x"></i>
            <h4>Editorial</h4>
        </div>
        <div class="servicio col-xs-12 col-sm-6 col-md-5ths">
            <i class="fa fa-tag fa-4x"></i>
            <h4>Branding</h4>
        </div>
    </div>
</section>